
  /* ---------------------------- Main nav container */
#nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141921;
  color: white;
  height: 6rem;
}


/* Flex and space between for left&right nav*/
/* nav right */
nav#nav-right{
  margin-right: 2rem;
}
#nav-right ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}
#nav-right div{
  border: solid white;
  width: 5rem;
  height: 4rem;
}
/* nav left */
nav#nav-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  position: relative;
}
nav#nav-left div.logo{
  width: 35rem;
}
nav#nav-left div.location img#location-logo{
  background: url(/Assets/images/navSprite.png) no-repeat -71px -379px;
	width: 15px;
	height: 17px;
  position: absolute;
  top: 0.3rem;
  left: 0.2rem;
}
nav#nav-left div.location{
  width: 35rem;
  top: 0.5rem;
  position: relative;
}
nav#nav-left div h3{
  position: absolute;
  left: 2.1rem;
  color: rgb(191, 190, 190);
  font-size: 1.2rem;
  font-weight: normal;
  bottom: 1rem;
}
nav#nav-left div h2{
  position: absolute;
  left: 2.1rem;
  font-size: 16px;
  top: 0.1rem;
}
/* nav left links */
div.logo a, div.location a{
  color: white;
}

/* --- Middle Search Nav---  */

#nav-middle {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 5rem;
}
#nav-middle input{
  width: 190rem;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0 5.6rem;
  font-size: 1.6rem;
}
#nav-middle select{
  width: 5.220rem;
  height: 4rem;
  background-color: #f3f3f3;
  border: none;
  border-radius: 0.4rem;
  position: absolute;
  font-size: 1.4rem;
  padding-left: 1rem;
  cursor: pointer;
}
#nav-middle button{
  width: 5rem;
  height: 4rem;
  justify-content: center;
  position: absolute;
  right: 0.041rem;
  border: none;
  background-color: #febd69;
  padding-right: 2rem;
  padding-left: 1.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
}
#nav-middle button img{
  background: url(/Assets/images/navSprite.png) no-repeat -10px -290px;
	width: 21px;
	height: 21px;
}

/* -------------------[main nav-left logo]  -------- */

img#logo{
  background: url(/Assets/images/navSprite.png) no-repeat -10px -51px;
  width: 96px;
	height: 29px;
  margin-top: 1.9rem;
  margin-left: 2.2rem;
  margin-bottom: 1rem;
}

/* --------------------------------------------- Second nav */
  nav.second-nav{
  background-color: #222f3e;
  height: 4rem;
}
nav.second-nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}
nav.second-nav ul li a{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  color: white;
  
}

/* --------------------------------------------- Third nav */
nav.third-nav{
  background-color: #fafafa;
  height: 3rem;
  border-bottom: solid 1px #e1e1e1;
}
nav.third-nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #141921;
}
nav.third-nav ul li a{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  padding-top: 0.8rem;
  color: #141921;
}

/* [BODY] */



.item{
  
}
/* Image Gallery */
.pictures-container{
  width: 30vw;
  height: 50vh;
  border: solid pink;
  margin-left: 40rem;
  margin-top: 10rem;
  position: relative;
}

#current-img{
  width: 400px;
  height: 400px;
  position: absolute;
  left: 12rem;
}

div.pictures{
  display: flex;
  flex-direction: column;
  width: 6rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

/* Product images and styling */

div img#himicoToga3{
  max-width: 100%;
  max-height: auto;
  margin-bottom: 1rem;
}
div img#himicoToga2{
  max-width: 100%;
  max-height: auto;
  margin-bottom: 1rem;
}

.shadow{
  box-shadow: 0 0 10px #febd69;
}

div img#himicoToga1{
  max-width: 100%;
  max-height: auto;
  margin-bottom: 1rem;
}









@media (max-width: 800px)
{
  select.menu-select{
    visibility: hidden;
  }
}