
/* ---------------------------- Main nav container */
#nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141921;
  color: white;
  height: 6rem;
}

#nav-right{
  margin-right: 2rem;
}
/* Flex and space between for left&right nav uls*/
nav#nav-left ul, #nav-right ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
}

/* --- Middle Search Nav---  */

#nav-middle {
  display: flex;
  position: relative;
  margin: 0;
  padding: 0;
}
#nav-middle input{
  width: 200rem;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  padding: 0 5.6rem;
  font-size: 1.6rem;
}
#nav-middle select{
  width: 5.220rem;
  height: 4rem;
  background-color: #f3f3f3;
  border: none;
  border-radius: 0.4rem;
  position: absolute;
  font-size: 1.4rem;
  padding-left: 1rem;
  cursor: pointer;
}
#nav-middle button{
  width: 5rem;
  height: 4rem;
  justify-content: center;
  position: absolute;
  right: 0.041rem;
  border: none;
  background-color: #febd69;
  padding-right: 2rem;
  padding-left: 1.4rem;
  cursor: pointer;
  border-radius: 0.4rem;
}
#nav-middle button img{
  background: url(/Assets/images/navSprite.png) no-repeat -10px -290px;
	width: 21px;
	height: 21px;
}

/* -------------------[main nav-left]  -------- */

img#logo{
  background: url(/Assets/images/navSprite.png) no-repeat -10px -51px;
  width: 96px;
	height: 29px;
  margin-top: 1.9rem;
  margin-left: 2.2rem;
  margin-bottom: 1rem;
}
img#location-logo{
  background: url(/Assets/images/navSprite.png) no-repeat -71px -379px;
	width: 15px;
	height: 17px;
}



/* --------------------------------------------- Second nav */
  nav.seconed-nav{
  background-color: #222f3e;
  height: 4rem;
}



/* --------------------------------------------- Third nav */
nav.Third-nav{
  background-color: #fafafa;
  height: 3rem;
  border-bottom: solid 1px #e1e1e1;
}

/* [BODY] */
/* Grid */
div.grid-container{
  max-width: 60vw;
  display: grid;
  grid-template-areas: 
  'top top top top top top'
  'left middle middle middle right right'
  'left middle middle middle right right'
  'left middle middle middle right right' ;
  gap: 1rem;
  padding: 1rem;
  margin-top: 6rem;
  margin-left: 14vw;

}
.grid-container > div {
  background-color: rgba(119, 56, 56, 0.8);
  text-align: center;
  padding: 0.5rem 0;
}
.item0{
  grid-area: top;
}
.item1{
  grid-area: middle;
}
.item2{
  grid-area: left;
  border: solid 2px black;
}
.item3{
  grid-area: right;
}

/* Product images and styling */
body div img#himicoToga3{
  max-width: 30%;
  max-height: auto;
}
body div img#himicoToga2{
  max-width: 30%;
  max-height: auto;
}
body div img#himicoToga1{
  max-width: 50%;
  max-height: auto;
}